body{
    cursor: pointer;
    background: rgb(247, 247, 223);

}
:root{
    --logo:#c4c4c4;
    --link:#2b2b2b;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0 0;
}

.navbar-brand .box{
    width: 80px;
    height: 80px;
    background-color: var(--logo);
}

.navbar-nav{
    display: flex;
}

.navbar-nav .navbar-item{
    margin: 15px;
    list-style: none;
}

.navbar-item a{
    text-decoration: none;
    color: var(--link);
    font-weight: 500;
}

.btn-area button{
    background-color: #423f3e;
    color: white;
    padding: 10px 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}

.h1{
color:#2b2b2b ;
position: absolute;
left: 500px;
}
.h2{
width: 800px;
color: #2b2b2b;
position: absolute;
left: 360px;
top: 150px;
}
.h3{
    width: 360px;
    position: absolute;
    left:150px;
    top: 400px;
}
.h4{
    width: 250px;
    position: absolute;
    left:150px;
    top: 500px;
}
.h5{
    width: 250px;
    position: absolute;
    left:450px;
    top: 500px;
}
.h6{
    width: 250px;
    position: absolute;
    left:150px;
    top: 700px;
}
.h7{
    width: 250px;
    position: absolute;
    left:450px;
    top: 700px;
}
.img1{
    width: 450px;
    height: 450px;
    /* border-radius: 10px; */
    position: absolute;
    left: 900px;
    top: 400px;
}
.h8{
    width: 250px;
    position: absolute;
    left:150px;
    top: 935px;
}
.h9{
    width: 400px;
    position: absolute;
    left: 150px;
    top: 980px;

}
.h10{
    width: 150px;
    position: absolute;
    left: 900px;
    top: 955px;
}
.h11{
    width: 100px;
    position: absolute;
    left: 1080px;
    top: 955px;
}
.h99{
    position: absolute;
    top: 2000px;
}
.h12{
    width: 250px;
    position: absolute;
    left:150px;
    top: 1150px;
}
.h13{
    width: 250px;
    position: absolute;
    left: 150px;
    top: 1230px;

}

.img2{
    width: 180px;
    height: 180px;
    /* border-radius: 10px; */
    position: absolute;
    left:600px;
    top: 1150px;
}
.img3{
    width: 180px;
    height: 180px;
    /* border-radius: 10px; */
    position: absolute;
    left:900px;
    top: 1150px;
}
.img4{
    width: 180px;
    height: 180px;
    /* border-radius: 10px; */
    position: absolute;
    left:1200px;
    top: 1150px;
}
.h14{
    /* width: 250px; */
    position: absolute;
    left: 500px;
    top: 1430px;

}
.h15{
    width: 250px;
    position: absolute;
    left: 450px;
    top: 1530px;

}
.h16{
    width: 250px;
    position: absolute;
    left: 800px;
    top: 1530px;

}
.h17{
    width: 130px;
    position: absolute;
    left: 450px;
    top: 1630px;

}
.h18{
    width: 130px;
    position: absolute;
    left: 800px;
    top: 1630px;

}